<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="data-analysis" src="{{ "/assets/img/kaitlyn-baker-vZJdYl5JVXY-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Insurance Pricing Analysis </h3>
    <p>Development of statistical models and pricing solutions for the insurance industry. 
      Using Python, R, and advanced statistical techniques to build GLM models and perform comprehensive data analysis.
      Projects include pricing optimization, risk assessment, and business intelligence dashboards.</p>
      <p align="center">
        <a class="project-link" href="https://github.com/{{site.github_username}}">View on GitHub</a>
        <a class="project-link" href="https://medium.com/@{{site.medium_username}}">Read on Medium</a>
      </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="injury-prediction" src="{{ "/assets/img/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Modelagem Estatística do Tempo de Recuperação de Lesões </h3>
    <p>Modelo preditivo usando GLM (Gamma com ligação Log) para prever o tempo de recuperação de lesões em jogadores de futebol das principais ligas europeias. 
      Análise do impacto de variáveis como idade, posição em campo, liga e gravidade da lesão no tempo de afastamento do atleta.</p>
      <p align="center">
        <a class="project-link" href="https://github.com/alexrodrigues0711/previsaolesaoporidade">View on GitHub</a>
      </p>
  </div>
</div>

</div>
